<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ball Bouncing Animation</title>
<style>
    #container {
        position: relative;
        width: 800px;
        margin: 0 auto;
    }
    #canvas {
        display: block;
        margin: 0 auto;
        border-radius: 20px;
        background: #eee;
    }
    #myButton {
        position: absolute;
        bottom: 40px;
        right: 20px;
        padding: 5px 10px;
        opacity: 0.7;
        background-color: #c6e2ff;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    #myButton2 {
        position: absolute;
        bottom: 100px;
        right: 20px;
        padding: 5px 10px;
        opacity: 0.7;
        background-color: #ffd0d2;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    #myButton:hover {
        background-color: #7bbbff;
    }
    #myButton2:hover {
        background-color: #ff8d8d;
    }
    .slider-container {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .slider-container label {
        margin-right: 10px;
    }
</style>
</head>
<body>
<div id="container">
    <canvas id="canvas" width="800" height="500"></canvas><br>
    <button id="myButton">&#x21bb;</button>
    <button id="myButton2">&#x29BF;</button>
</div>
<!-- <div class="slider-container">
    <label for="cohesionSlider">cohesion:</label>
    <input type="range" id="cohesionSlider" min="0" max="100" value="50">
</div>
<div class="slider-container">
    <label for="alignmentSlider">alignment:</label>
    <input type="range" id="alignmentSlider" min="0" max="100" value="50">
</div>
<div class="slider-container">
    <label for="separationSlider">separation:</label>
    <input type="range" id="separationSlider" min="0" max="100" value="50">
</div>
<div class="slider-container">
    <label for="thresholdSlider">threshold:</label>
    <input type="range" id="thresholdSlider" min="0" max="300" value="50">
</div> -->

<script>

    
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');

    // flock global params
    const radius = 4;
    let threshold = 40;
    function tooClose(threshold) {
        return threshold * 0.2;
    }
    const color = 'rgb(0, 128, 255)';
    const birdCount = 200;
    const initSpeed = 4;
    const minSpeed = 0.5;
    const maxSpeed = 5;

    const outerWidthMin = - 0.5 * radius;
    const outerWidthMax = canvas.width + 0.5 * radius;
    const outerHeightMin = - 0.5 * radius;
    const outerHeightMax = canvas.height + 0.5 * radius;

    function drawTriangle(x, y, dx, dy, radius, color) {
        const angle = Math.atan2(dy, dx);

        const vertex1 = {
            x: x + radius * Math.cos(angle),
            y: y + radius * Math.sin(angle)
        };
        const vertex2 = {
            x: x + radius * Math.cos(angle + 2 * Math.PI / 3),
            y: y + radius * Math.sin(angle + 2 * Math.PI / 3)
        };
        const vertex3 = {
            x: x + radius * Math.cos(angle - 2 * Math.PI / 3),
            y: y + radius * Math.sin(angle - 2 * Math.PI / 3)
        };

        ctx.beginPath();
        ctx.moveTo(vertex1.x, vertex1.y);
        ctx.lineTo(vertex2.x, vertex2.y);
        ctx.lineTo(vertex3.x, vertex3.y);

        ctx.fillStyle = color;
        ctx.fill();
    }

    function normalize(dx, dy) {
        let length = Math.sqrt(dx * dx + dy * dy);
        if (length !== 0) {
            dx /= length;
            dy /= length;
        } else {
            dx = 1;
            dy = 0;
        }
        return { dx, dy };
    }

    function mapToZeroToOne(x) {
        if (x < 1) {
            return 1;
        }else{
            return 1 / x;
        }
    }

    class Bird {
        constructor(x, y, dx, dy){
            this.x = x;
            this.y = y;
            this.dx = dx;
            this.dy = dy;
        }
        draw() {
            drawTriangle(
                this.x,
                this.y,
                this.dx,
                this.dy,
                radius,
                color
            )
        }
        drawWithColor(color){
            drawTriangle(
                this.x,
                this.y,
                this.dx,
                this.dy,
                radius,
                color
            )
        }
        loopingUpdate() {
            if (this.x > outerWidthMax) {
                this.x = outerWidthMin;
            } else if (this.x < outerWidthMin) {
                this.x = outerWidthMax;
            }

            if (this.y > outerHeightMax) {
                this.y = 0;
            } else if (this.y < outerHeightMin) {
                this.y = outerHeightMax;
            }
        }
        update() {
            this.x += this.dx;
            this.y += this.dy;

            this.loopingUpdate();
            this.draw();
        }
        _drawLineBetween(otherBird) {
            var result = this.minDistWith(otherBird);
            const alpha = (1 - (result.minDistance / threshold)) * 0.3;
            ctx.strokeStyle = `rgba(0, 128, 255, ${alpha})`;
            ctx.beginPath();
            ctx.moveTo(this.x, this.y);
            ctx.lineTo(result.x, result.y);
            ctx.stroke();
        }
        drawLineBetween(otherBird) {
            this._drawLineBetween(otherBird)
            otherBird._drawLineBetween(this)
        }
        minDistWith(otherBird) {
            let xCopys = [];
            let yCopys = [];
            for (var i = -1; i < 2; i++){
                for (var j = -1; j < 2; j++){
                    xCopys.push(otherBird.x - i * (canvas.width + radius));
                    yCopys.push(otherBird.y - j * (canvas.height + radius));
                }
            }
            let minDistance = Infinity;
            let xIndex = Infinity;
            let yIndex = Infinity;
            for (var i = 0; i < xCopys.length; i++){
                let distance = Math.sqrt(Math.pow(xCopys[i] - this.x, 2) + Math.pow(yCopys[i] - this.y, 2));
                if (distance < minDistance){
                    minDistance = distance;
                    xIndex = xCopys[i];
                    yIndex = yCopys[i];
                }
            }
            return {
                minDistance: minDistance,
                x: xIndex,
                y: yIndex
            };
        }
        isNeighbor(otherBird, threshold) {
            return this.minDistWith(otherBird).minDistance <= threshold;
        }
    }

    class Birds {
        constructor(birdCount, initSpeed){
            this.birds = [];
            this.birdCount = birdCount;
            this.initSpeed = initSpeed;
            for (let i = 0; i < this.birdCount; i++) {
                let x = Math.random() * (canvas.width - 2 * radius) + radius;
                let y = Math.random() * (canvas.height - 2 * radius) + radius;
                let dx = (Math.random() - 0.5);
                let dy = (Math.random() - 0.5);
                let { dx: ndx, dy: ndy } = normalize(dx, dy);
                this.birds.push(new Bird(x, y, ndx * initSpeed, ndy * initSpeed));
            }
        }

        drawBird(){
            this.birds.forEach(bird => {
            bird.update();
        });
        }

        *getNeighbor(bird, threshold) {
            for (let i = 0; i < this.birdCount; i++) {
                if (this.birds[i] !== bird && bird.isNeighbor(this.birds[i], threshold)) {
                    yield this.birds[i];
                }
            }
        }

        drawConnection() {
            for (let bird of this.birds) {
                for (let neighbor of this.getNeighbor(bird, threshold)) {
                    bird.drawLineBetween(neighbor);
                }
            }
        }

        update(separationIntensity, cohesionIntensity, alignmentIntensity){
            let updates = [];

            for (let bird of this.birds) {

                let tooCloseCount = 0;
                let neighborCount = 0;
                let coh_xs = 0;
                let coh_ys = 0;
                let ali_xs = 0;
                let ali_ys = 0;
                let sep_xs = 0;
                let sep_ys = 0;

                // inner circle
                for (let neighbor of this.getNeighbor(bird, tooClose(threshold))) {
                    tooCloseCount++;
                    var result = bird.minDistWith(neighbor);

                    // seperation
                    sep_xs -= (result.x - bird.x);
                    sep_ys -= (result.y - bird.y);
                }
                if(tooCloseCount) {
                    sep_xs /= tooCloseCount;
                    sep_ys /= tooCloseCount;
                }
                
                // outer circle
                for (let neighbor of this.getNeighbor(bird, threshold)) {
                    neighborCount++;
                    var result = bird.minDistWith(neighbor);

                    coh_xs += result.x;
                    coh_ys += result.y;
                    ali_xs += neighbor.dx;
                    ali_ys += neighbor.dy;
                }
                
                if(neighborCount) {
                    coh_xs /= neighborCount;
                    coh_ys /= neighborCount;
                    ali_xs /= neighborCount;
                    ali_ys /= neighborCount;
                }
                coh_xs -= bird.x;
                coh_ys -= bird.y;
                ali_xs = ali_xs - bird.dx;
                ali_ys = ali_ys - bird.dy;
                
                updates.push({
                    xs: ali_xs * alignmentIntensity + coh_xs * cohesionIntensity + sep_xs * separationIntensity,
                    ys: ali_xs * alignmentIntensity + coh_ys * cohesionIntensity + sep_ys * separationIntensity
                });
                console.log(alignmentIntensity, cohesionIntensity, separationIntensity)
            }

            for (const [index, bird] of this.birds.entries()) {
                bird.dx += updates[index].xs;
                bird.dy += updates[index].ys;
            }
        }

        updateSpeedLimit(minSpeed, maxSpeed) {
            for (let bird of this.birds) {
                let speed = Math.sqrt(bird.dx * bird.dx + bird.dy * bird.dy);
                if (speed > maxSpeed) {
                    let scale = maxSpeed / speed;
                    bird.dx *= scale;
                    bird.dy *= scale;
                }
                if (speed < minSpeed) {
                    let scale = minSpeed / speed;
                    bird.dx *= scale;
                    bird.dy *= scale;
                }
            }
        }
    }

    birds = new Birds(birdCount, initSpeed)

    function logRescale(val) {
        val = val / 25 - 4;
        return Math.exp(val);
    }

    function getRandomInt(max) {
    return Math.floor(Math.random() * max);
    }

    // const cohesionSlider = document.getElementById('cohesionSlider');
    // const alignmentSlider = document.getElementById('alignmentSlider');
    // const separationSlider = document.getElementById('separationSlider');
    let drawAdditional = true;
    birdIndex = 0;
    const cohesionValue = 0.005;
    const alignmentValue = 0.001;
    const separationValue = 0.05;

    document.getElementById('myButton2').addEventListener('click', () => {
        birdIndex = getRandomInt(birdCount);
        drawAdditional = ! drawAdditional;
    });
    // cohesionSlider.addEventListener('input', () => {
    //     cohesionValue = parseInt(cohesionSlider.value);
    // });
    // alignmentSlider.addEventListener('input', () => {
    //     alignmentValue = parseInt(alignmentSlider.value);
    // });
    // separationSlider.addEventListener('input', () => {
    //     separationValue = separationSlider.value;
    // });
    // thresholdSlider.addEventListener('input', () => {
    //     threshold = thresholdSlider.value;
    // });


    function animate() {
        requestAnimationFrame(animate);
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        
        // birds.drawConnection();
        birds.drawBird();
        if (drawAdditional) {
            for (let neighbor of birds.getNeighbor(birds.birds[birdIndex], threshold)) {
                birds.birds[birdIndex].drawLineBetween(neighbor);
                neighbor.drawWithColor('rgb(0, 200, 255)');
            }
            for (let neighbor of birds.getNeighbor(birds.birds[birdIndex], tooClose(threshold))) {
                neighbor.drawWithColor('rgb(0, 255, 150)');
            }
            birds.birds[birdIndex].drawWithColor('rgb(255, 255, 255)');
            
        }
        birds.update(
            separationValue,
            cohesionValue,
            alignmentValue
        );
        birds.updateSpeedLimit(minSpeed, maxSpeed);
    }

    function reset() {
        birds.birds.forEach(bird => {
            bird.x = Math.random() * (canvas.width - 2 * radius) + radius;
            bird.y = Math.random() * (canvas.height - 2 * radius) + radius;
            let dx = (Math.random() - 0.5);
            let dy = (Math.random() - 0.5);
            let { dx: ndx, dy: ndy } = normalize(dx, dy);
            bird.dx = ndx;
            bird.dy = ndy;
        });
    }

    document.getElementById('myButton').addEventListener('click', reset);

    animate();

</script>
</body>
</html>
